<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
					akka {
            stdout-loglevel = ERROR
            loglevel = ERROR
            log-config-on-start = off        
						actor {
							provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
						}
						
						remote {
							helios.tcp {
								transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
								applied-adapters = []
								transport-protocol = tcp
								hostname = localhost
								port = 8080
							}
						}            
						
						cluster {
							seed-nodes = ["akka.tcp://MyCluster@localhost:8080"] 
							roles = [lighthouse, serviceregistry]
							auto-down-unreachable-after = 10s
						}
					}
			]]>
    </hocon>
  </akka>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>