source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget akka.cluster
nuget nancy
nuget nancy.hosting.self


github fsharp/FAKE modules/Octokit/Octokit.fsx