type project
owners
    Roger Johansson
authors 
    Roger Johansson
projectUrl
    http://github.com/rogeralsing/Beacon
iconUrl
    https://raw.githubusercontent.com/rogeralsing/Beacon/master/docs/files/img/logo.png
licenseUrl
    http://github.com/rogeralsing/Beacon/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    servicediscovery, akka.net, http, rest
summary
    HTTP Service Discovery
description
    HTTP Service Discovery


